    </div>

    <div class="footer">
      <p>Copyright © 2026 <%= siteMeta.siteName %></p>
      <p><%= siteMeta.footerSubtitle %></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/qrcodejs2@0.0.2/qrcode.min.js"></script>
    <script src="/static/js/app.js?v=2"></script>
  </body>
</html>
