PORT=3000
SESSION_SECRET=change-me

SITE_NAME=香色源
AI_BOOKSOURCE_URL=https://github.com/lindongjiang/xiangseSkill
APP_INSTALL_URL=/yuedu/install/index.html
ACTIVATION_BUY_URL=https://cloudmantoua.top/81/
MT_WINDOWS_URL=https://wwbhc.lanzn.com/iwFoH3g1r9da
MT_MACOS_URL=https://wwbhc.lanzn.com/ivLSo3g1tjkj
CARD_BUY_URL=https://cloudmantoua.top/81/
MT_WINDOWS_QR_URL=/static/images/install/qr-win.png
MT_MACOS_QR_URL=/static/images/install/qr-mac.png
INSTALL_SHOT_1=/static/images/install/shot-1-mt.jpg
INSTALL_SHOT_2=/static/images/install/shot-2-store.jpg
INSTALL_SHOT_3=/static/images/install/shot-3-done.jpg
PYTHON_BIN=python3
XBS_TOOL_PATH=/Users/mantou/Documents/idea/3.2/xiangseSkill/tools/scripts/xbs_tool.py
XBSREBUILD_ROOT=/Users/mantou/Documents/idea/3.2/xbsrebuild

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=cloud_book_source
