PORT=3000
SESSION_SECRET=change-me

SITE_NAME=香色源
AI_BOOKSOURCE_URL=https://github.com/lindongjiang/xiangseSkill
APP_INSTALL_URL=https://github.com/lindongjiang/xiangseSkill#readme
ACTIVATION_BUY_URL=https://github.com/lindongjiang/xiangseSkill

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=cloud_book_source
