<%- include('../partials/header', { pageTitle, currentType }) %>

<div class="layui-container m-top">
  <div class="layui-panel xi-card">
    <blockquote class="layui-elem-quote" style="margin-left: -10px; margin-right: -10px;">
      <h3>激活码购买与使用</h3>
    </blockquote>

    <div class="layui-text">
      <p>1、请仅通过官方可信渠道购买激活码，避免第三方倒卖风险。</p>
      <p>2、购买后在 App 内“激活/会员”页面填写激活码完成绑定。</p>
      <p>3、若激活失败，请核对网络环境、账号状态和激活码是否已使用。</p>
      <p>4、书源相关问题可优先在本仓库排查规则和链接有效性。</p>
    </div>

    <hr />

    <div class="layui-row layui-col-space10">
      <div class="layui-col-xs12 layui-col-sm6">
        <a class="layui-btn layui-btn-fluid xi-red-btn" target="_blank" href="<%= siteMeta.activationBuyUrl %>">打开激活码购买地址</a>
      </div>
      <div class="layui-col-xs12 layui-col-sm6">
        <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/install/index.html">查看安装教程</a>
      </div>
      <div class="layui-col-xs12 layui-col-sm6">
        <a class="layui-btn layui-btn-fluid layui-btn-primary" target="_blank" href="<%= siteMeta.aiBookSourceUrl %>">AI 自动写书源</a>
      </div>
      <div class="layui-col-xs12 layui-col-sm6">
        <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/shuyuan/index.html">返回书源列表</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
