<%- include('../partials/header', { pageTitle, currentType }) %>

<div class="layui-container m-top">
  <div class="layui-panel">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-xs6 layui-col-md4 layui-col-lg3">
        <a class="layui-btn layui-btn-fluid layui-bg-red" target="_blank" href="/yuedu/theme/index.html">主题相关</a>
      </div>
    </div>
  </div>

  <div class="layui-panel">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-xs6 layui-col-md4 layui-col-lg3">
        <a class="layui-btn layui-btn-fluid layui-bg-blue" target="_blank" href="/yuedu/tools/index/id/shuyuan.html">教程:书源规则</a>
      </div>
      <div class="layui-col-xs6 layui-col-md4 layui-col-lg3">
        <a class="layui-btn layui-btn-fluid layui-bg-blue" target="_blank" href="/yuedu/tools/index/id/rss.html">教程:RSS规则</a>
      </div>
      <div class="layui-col-xs6 layui-col-md4 layui-col-lg3">
        <a class="layui-btn layui-btn-fluid layui-bg-blue" target="_blank" href="/yuedu/tools/index/id/uplink.html">源仓库直链上传</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
